body {
  margin: 0 auto;
  background-color: rgb(222, 242, 249);
}

.App {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  background-color: rgb(83, 76, 98);
  color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
}

h2 {
  text-transform: uppercase;
}

input {
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-radius: 5px;
  text-transform: uppercase;
}
